---
import Layout from "../layouts/About.astro";
---

<Layout
	title="About Me"
	description="Where to Learn about the Blog Owner"
	pubDate={new Date("May 16, 2024")}
	heroImage="/me2.png"
>
	<p>
		Hi, I'm James, a Cloud Architect and DevOps Engineer. I
		love working with cloud technologies and helping teams build robust and
		scalable infrastructures.
	</p>

	<p>
		Right now, I'm a Cloud Architect at <a href="https://tensure.io"
			>Tensure Consulting</a
		>, where I focus on making cloud environments more secure, efficient, and
		automated. I enjoy tackling challenges like finding and fixing security
		vulnerabilities, ensuring compliance with industry standards, and using
		tools like Sumo Logic and Prisma Cloud to keep everything running smoothly.
	</p>

	<p>
		Before Tensure, I worked at IBM as a Senior DevOps Engineer and Solutions
		Architect. There, I helped improve our CI/CD pipelines with Jenkins,
		Artifactory, and Sonarqube, making the deployment process faster and more
		reliable. I also supported clients by enhancing their infrastructure and
		security practices.
	</p>

	<p>
		My journey in tech started with the U.S. Army, where I gained hands-on
		experience in network security and power generation equipment maintenance.
		These early years taught me the importance of precision and reliability,
		skills that I've carried throughout my career.
	</p>

	<p>
		I’m proficient in several programming languages and tools, including Go,
		Python, Jenkins, Groovy, Ansible, Terraform, Docker, Java, Cassandra, and
		SQL. I also have a solid grasp of Agile methodologies, which helps me work
		effectively with teams to deliver projects on time.
	</p>

	<p>
		On my blog at Integratn.io, I share insights and tips about Kubernetes,
		cloud-native technologies, and DevOps best practices. I aim to make complex
		topics accessible and provide practical advice that others can apply to
		their projects.
	</p>

	<p>
		When I’m not working, I enjoy learning new technologies and staying
		up-to-date with the latest trends in the industry. Feel free to connect with
		me on <a href="https://www.linkedin.com/in/jjdreier">LinkedIn</a> or check out
		my blog on <a href="https://integratn.io">here</a>.
	</p>

	<p>Looking forward to sharing more and learning together!</p>
</Layout>
