---
import BaseLayout from "../layouts/BaseLayout.astro";
import LatestBlogLayout from "../layouts/LatestBlogLayout.astro";
---

<style>
	.prose {
		max-width: 720px;
		margin: 0 auto;
		padding: 0 1rem;
	}
	article {
		padding: 3em 1em;
	}
</style>
<BaseLayout>
	<article>
		<div class="prose">
			<h1>Welcome to Integratn.io!</h1>
			<p>
				Here you will find tutorials and ideas about the topics I'm constantly
				exploring.
			</p>
			<p>
				Whether you're a beginner or an experienced developer, there's something
				here for everyone. From web development, homelab to DevOps, I cover a
				wide range of topics to help you expand your knowledge and skills.
			</p>
			<p>
				Feel free to browse through the articles and tutorials, and don't
				hesitate to reach out if you have any questions or suggestions. I'm
				always happy to hear from fellow developers and learners.
			</p>
			<p>
				So, let's embark on this journey together and explore the fascinating
				world of technology and programming!
			</p>
			<h2>Latest Article</h2>
			<LatestBlogLayout />
		</div>
	</article>
</BaseLayout>
