---
import BaseLayout from "./BaseLayout.astro";
import {
  PINK,
  MAUVE,
  RED,
  MAROON,
  PEACH,
  YELLOW,
  GREEN,
  TEAL,
  SKY,
  SAPPHIRE,
  BLUE,
  LAVENDER,
} from "../consts.ts";
const title = "Tags Index";
const { tags } = Astro.props;
console.log(tags);

// Randomize the order of tags
tags.sort(() => Math.random() - 0.5);
// Adjust the order of tags
tags.sort(() => Math.random() - 0.5);

let chunks = [];

// First row
chunks.push(tags.slice(0, 3));

// Middle rows
let middleTags = tags.slice(3, tags.length - 3);
let chunkSize = Math.ceil(middleTags.length / Math.ceil(middleTags.length / 5));
for (let i = 0; i < middleTags.length; i += chunkSize) {
  chunks.push(middleTags.slice(i, i + chunkSize));
}

// Last row
chunks.push(tags.slice(tags.length - 3, tags.length));
---

<BaseLayout title={title} description="List of all my Tags">
  <div class="tags">
    {
      chunks.map((chunk) => (
        <div class="tag-chunk">
          {chunk.map((tag: { tag: string; count: number }) => (
            <a href={`/tags/${tag.tag}`}>
              <span
                class="tag"
                style={{
                  fontSize: `${Math.min(tag.count > 1 ? tag.count * 1.5 + 16 : 16, 28)}px`,
                  backgroundColor: [
                    PINK,
                    MAUVE,
                    RED,
                    MAROON,
                    PEACH,
                    YELLOW,
                    GREEN,
                    TEAL,
                    SKY,
                    SAPPHIRE,
                    BLUE,
                    LAVENDER,
                  ][Math.floor(Math.random() * 12)],
                }}
              >
                {tag.tag
                  .split(/[-_]/)
                  .map(
                    (word: string) =>
                      word.charAt(0).toUpperCase() + word.slice(1),
                  )
                  .join(" ")}
              </span>
            </a>
          ))}
        </div>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: var(--gray);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    max-width: 600px;
    margin: auto;
  }

  .tag {
    margin: 0.15em;
    /* border: 1px var(--gray-dark) solid; */
    box-shadow: var(--box-shadow); /* Added box-shadow */
    border-radius: 8px; /* Rounded the corners */
    padding: 0.1em 0.5em; /* Adjusted padding */
    font-size: 1em; /* Adjusted font size */
    transition: all 0.5s; /* Added transition */
  }
</style>
